extends layout

block content
  .container
    .row
      .col-lg-12
        .intro-message    
          if (!user)
            a(href="/login") Login
            br
            a(href="/register") Register
          if (user)
            p You are currently logged in as #{user.username}
            a(href="/logout") Logout