doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Rana Das')    
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel='stylesheet', href='/stylesheets/landing-page.css')
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    
    block content

    hr.section-heading-spacer

    footer
      .container
        .row
          .col-lg-12
            a(href='#contact') Contact 
 script(src='/bower_components/jquery/dist/jquery.js')
 script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  